<div class="card mt-3 mb-3 text-white bg-secondary text-center">
    <h3 class="card-header">@Name</h3>
    <div class="card-body">
        <h6 class="card-subtitle text-white">maybe this is where i should put stars or something</h6>
    </div>
    <div class="text-center">
        <span style="height: 257px; width: 260px; border: solid 1px; border-radius: 50%; display: inline-block; background-color: white">
            <img width="256px" height="256px" style="border-radius: 50%;" src="@PictureURL" />
        </span>
    </div>
    <div class="card-body">
        <p class="card-text">Maybe a brief bio of the character or other important info</p>
    </div>
    <div class="card-body">
        <input type="submit" class="btn btn-success btn-lg" value="Done" />
        <input type="submit" class="btn btn-danger btn-lg" value="Cancel" />
    </div>
</div>

