<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <img src="/logo.png" style="height: 50px; width: 50px;" class="mx-2"/>
        <a class="navbar-brand" href="/"><strong>GenshinTools</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" href="/characters" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Characters</a>
                    <div class="dropdown-menu" data-bs-popper="static">
                        <a class="dropdown-item" href="/characters">Talent Upgrade</a>
                        <a class="dropdown-item" href="/characters/list">My Characters</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle show" href="/weapons" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Weapons</a>
                    <div class="dropdown-menu" data-bs-popper="static">
                        <a class="dropdown-item" href="/weapons">Weapon Upgrade</a>
                        <a class="dropdown-item" href="/weapons/list">My Weapons</a>
                    </div>
                </li>
            </ul>
        </div>
        
        <div class="d-flex">
            <AuthorizeView>
                <Authorized> 
                    <NavLink type="nav-link" class="btn btn-warning m-2" href="logout/">Logout</NavLink>
                </Authorized>
                <NotAuthorized>
                    <NavLink type="nav-link" class="btn btn-info m-2" href="login/">Login</NavLink>
                    <NavLink type="nav-link" class="btn btn-warning m-2" href="register/">Register</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </div>
</nav>