@page "/login"

@if (!string.IsNullOrEmpty(Message))
{
    <div>
        @Message
    </div>
}

<div class="container mt-2" style="max-width: 450px;">
    <EditForm Model="@Model" class="card col-xs-1 text-center text-white bg-dark" OnValidSubmit="HandleLogin">
        <DataAnnotationsValidator/>
        <div class="card-header">Login</div>
        <div class="m-3">
            <label for="username" class="form-label">Username: </label>
            <InputText id="username" class="form-control" aria-label="Username" @bind-Value=@Model.Username></InputText>
            <ValidationMessage For="@(() => Model.Username)"/>
        </div>
        <div class="m-3">
            <label for="password" class="form-label">Password: </label>
            <InputText type="password" class="form-control" id="password" @bind-Value=@Model.Password></InputText>
            <ValidationMessage For="@(() => Model.Password)" />
        </div>
        <div class="m-3">
            <input type="submit" class="btn btn-light btn-lg" value="Login" />
        </div>
        <p class="fw-light fst-italic">Still not registered? Do it <a href="register/" class="link-light"> here</a></p>
    </EditForm>
</div>



