@page "/login"

<h3>Login</h3>

@if (!string.IsNullOrEmpty(Message))
{
    <div>
        @Message
    </div>
}

<div>
    <div>
        <EditForm Model="@Model" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator/>
            <ValidationSummary />

            <div>
                <label>Username</label>
                <InputText id="username" class="form-label mt-4" @bind-Value=@Model.Username></InputText>
                <ValidationMessage For="@(() => Model.Username)"/>
            </div>
            <div>
                <label>Password</label>
                <InputText type="password" id="password" class="form-label mt-4" @bind-Value=@Model.Password></InputText>
                <ValidationMessage For="@(() => Model.Password)" />
            </div>
            <div>
                <input type="submit" value="login"/>
            </div>
        </EditForm>
    </div>
</div>

