@page "/register"

@if (!string.IsNullOrEmpty(Message))
{
   <div>
       @Message
   </div> 
}

<div class="container mt-2" style="max-width: 450px;">
    <EditForm Model="@Model" class="card col-xs-1 text-center text-white bg-dark" OnValidSubmit="HandleRegister">
        <DataAnnotationsValidator />
        <div class="card-header">Registration</div>
        <div class="m-3">
            <label for="username" class="form-label">Username</label>
            <InputText id="username" class="form-control" placeholder="Insert an unique username." @bind-Value=@Model.Username></InputText>
            <ValidationMessage For="@(() => Model.Username)" />
        </div>
        <div class="m-3">
            <label for="password" class="form-label">Password</label>
            <InputText type="password" id="password"class="form-control" placeholder="Insert a secure password." @bind-Value=@Model.Password></InputText>
            <ValidationMessage For="@(() => Model.Password)" />
        </div>
        <div class="m-3">
            <label for="password_again" class="form-label">Confirm your password:</label>
            <InputText type="password" id="password_again" class="form-control" placeholder="Confirm your password." @bind-Value=@PasswordConfirm></InputText>
            <ValidationMessage For="@(() => Model.Password)" />
        </div>
        <div class="m-3">
            <input class="btn-light" type="submit" value="Register" />
        </div>
    </EditForm>
</div>

