@page "/characters/"
@attribute [Authorize(Roles = "Administrator")]

<h3>Characters</h3>

@if (Characters == null)
{
    <p>Loading Data...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    WeekDays
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in Characters)
            {
                <tr>
                    <td>@character.Id </td>
                    <td>@character.Name </td>
                    <td>@character.WeekDays </td>
                </tr>
            }
        </tbody>
    </table>

}