@page "/characters/"
@attribute [Authorize(Roles = "Administrator")]

@if (Characters == null)
{
    <p>Loading Data...</p>
}
else
{
    <div class="container mt-3">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Id
                    </th >
                    <th scope="col">
                        Name
                    </th>
                    <th scope ="col">
                        WeekDays
                    </th>
                </tr>
            </thead>
            <tbody class="table-active">
                @foreach (var character in Characters)
                {
                    <tr scope="row">
                        <td>@character.Id </td>
                        <td>@character.Name </td>
                        <td>@character.WeekDays </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}