@page "/"
@using GenshinTools.BlazorUI.Pages.Components;
@using GenshinTools.BlazorUI.Shared;

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="container mt-4">
            <h3>Today is <strong>@getWeekDay()</strong>!</h3>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>